textarea {
	display: block;
}

#code-input, #code-output {
	font-family: monospace;
    font-size: 13px;
	width: 45%;
	margin-top: 1em;
}

#code-input {
	height: 280px;
}

#code-output {
	display: none;
	height: 180px;
}

#element-example {
	display: flex;
	width: 45%;
}

#element-example > div {
	width: 60px;
	height: 60px;
	margin-right: 10px;
	background-color: #ffdddd;
}